@model List<Student>

<a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Create">Add new student</a>

<br />
@ViewBag.Title
<br />
@ViewData["Title"]
<br />
<table>
    <tr>
        <th>Student Name</th>
        <th>Student Age</th>
        <th>Delete</th>
    </tr>
    @foreach (var student in Model)
    {
        <tr>
            <td>@student.StudentName</td>
            <td>@student.StudentAge</td>
            <td>
                <a href="/Student/Delete/@student.StudentId">Delete @student.StudentName</a>
            </td>
        </tr>
    }
</table>




